<div class="wrapper">
  <div class="left-content">
    <%= image_tag "/OCRCheck.png", size: '150x150' %>
  </div>
  <div class="center-content">
    <section class="commic">
      <div class="app-guide">
        <h2 class="commic-title">OCRCheckは何をする？</h2>
        <div class="button">
          <% if user_signed_in? %>
            <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'ログイン', new_user_session_path, class: 'post' %>
            <%= link_to '新規登録', new_user_registration_path, class: 'post' %>
          <% end %>
        </div>
      </div>
      <div class="frame">
        <%= image_tag "/4コマ漫画1.png", size: '250x250' %>
        <a class="left-bubble"></a>
        <a class="right-bubble"></a>
        <div class="speech-bubble">
          <p >膨大な量を一つ一つよく見てチェックするのは大変だわ・・・</p>
        </div>
      </div>
      <div class="frame">
        <%= image_tag "/4コマ漫画2.png", size: '250x250' %>
        <a class="left-bubble"></a>
        <a class="right-bubble"></a>
        <div class="speech-bubble">
          <p >ああ、よく見ていたつもりでもこんなに見落としがあるなんて...!!</p>
        </div>
      </div>
      <div class="frame">
        <%= image_tag "/4コマ漫画3.png", size: '250x250' %>
        <a class="left-bubble"></a>
        <a class="right-bubble"></a>
        <div class="speech-bubble">
          <p>そんなときはOCR Checkを使うと早く終わらせることができるよ。</p>
        </div>
      </div>
      <div class="frame">
        <%= image_tag "/4コマ漫画4.png", size: '250x250' %>
        <a class="left-bubble"></a>
        <a class="right-bubble"></a>
        <div class="speech-bubble">
          <p>修正箇所が一目でわかるからとっても助かるわ。</p>
        </div>
      </div>
    </section>
    <div class="button">
      <%= link_to 'さっそく使ってみる', moca_data_path %>
    </div>
  </div>
  <div class="right-content">
  </div>
</div>